Repository Cambricon/torch_mlu, changes with the owners that CODEOWNERS names for each.
All owners: @kongweiguang, @zhujing, @sifengyang, @xushuo, @fuwenguang, @niuweizhi, @zhiguangda, @daitian, @lipenghui, @mengpenghui, @zhouyusong

CODEOWNERS:

# defalut core reviewers
* @kongweiguang @zhujing

# stream/event
/torch_mlu/csrc/framework/core/MLUEvent* @sifengyang
/torch_mlu/csrc/python/Event* @sifengyang
/torch_mlu/csrc/framework/core/MLUStream* @sifengyang
/torch_mlu/csrc/python/Stream* @sifengyang
/torch_mlu/mlu/streams.py @sifengyang

# device/guard
/torch_mlu/csrc/framework/core/device* @xushuo
/torch_mlu/csrc/framework/core/*guard* @xushuo
/torch_mlu/mlu/__init__.py @xushuo  
/torch_mlu/csrc/framework/core/caching_event* @xushuo
/torch_mlu/csrc/python/Module* @xushuo

# profiler
/torch_mlu/csrc/framework/profiler/ @fuwenguang @niuweizhi 
/torch_mlu/profiler/ @fuwenguang @niuweizhi
/third_party/kineto_mlu/ @fuwenguang @niuweizhi
/torch_mlu/mlu/profiler.py @fuwenguang @niuweizhi

# distributed
/torch_mlu/csrc/framework/distributed/ @zhiguangda
/torch_mlu/csrc/python/ProcessGroupCNCL* @zhiguangda
/torch_mlu/distributed/nn/ @zhiguangda
/torch_mlu/mlu/cncl.py @zhiguangda

# MLUGraph
/torch_mlu/csrc/framework/graphs/ @daitian  
/torch_mlu/csrc/python/Graph* @daitian 
/torch_mlu/mlu/graph.py @daitian 

# allocator
/torch_mlu/csrc/framework/core/*allocator* @lipenghui
/torch_mlu/csrc/framework/core/*memory* @lipenghui
/torch_mlu/mlu/memory.py @lipenghui

# storage/IPC
/torch_mlu/csrc/python/Storage* @mengpenghui
/torch_mlu/mlu/storage.py @mengpenghui
/torch_mlu/csrc/python/MluIPC* @mengpenghui
/torch_mlu/mlu/reductions.py @mengpenghui

# torch.compile
/torch_mlu/_dynamo/ @zhouyusong
/torch_mlu/_inductor/ @zhouyusong

# fsdp
/torch_mlu/distributed/_shard/ @daitian

[PYTORCH-12662]feat(ChatGLM3-6b): support tensor input + scalar exp value to avoid calling full op
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/pow_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/pow.cpp
Owners: @kongweiguang, @zhujing

feat(*): add torch.version.mlu
  setup.py
  torch_mlu/__init__.py
Owners: @kongweiguang, @zhujing

[PYTORCH-12059]feat(op): support optensor mixtype(fp32+int64->fp32)
  test/torch_ops/test_add.py
  test/torch_ops/test_mul.py
  test/torch_ops/test_sub.py
Owners: @kongweiguang, @zhujing

feat(neuware): update cnnl&cnnl-extra rc version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

feat(precheckin): use ubuntu22.04 docker for precheckin because of the deadline of ubuntu 20.04
  scripts/release/independent_build.sh
Owners: @kongweiguang, @zhujing

[PYTORCH-12736]feat(MLM): Relax some shape restrictions on SD
  test/torch_ops/test_scaled_dot_product_attention.py
  torch_mlu/csrc/aten/operators/cnnl/transformers/sdp_utils.h
Owners: @kongweiguang, @zhujing

[PYTORCH-12427]feat(fusedAdam high precision): using diff == 0 in high precision fusedAdam.
  test/custom_ops/test_fused_adam.py
  test/custom_ops/test_fused_adam_high_percision.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13169]fix(cpp extension): Fix cpp extension ci error.
  test/mlu/test_device.py
  torch_mlu/utils/cpp_extension.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13125]fix(ipc):fix workround
  test/multiprocessing/test_multiprocessing.py
  test/run_test.py
  torch_mlu/csrc/framework/core/caching_allocator.cpp
  torch_mlu/csrc/framework/core/caching_allocator.h
  torch_mlu/csrc/python/StorageSharing.cpp
Owners: @kongweiguang, @zhujing, @lipenghui, @mengpenghui

[PYTORCH-13136][PYTORCH-13170]fix(profiler):fix memory leak and ct_utils
  third_party/kineto_mlu/libkineto/src/CnperfApi.cpp
  third_party/kineto_mlu/libkineto/src/CnperfPmuApi.cpp
  torch_mlu/profiler/analysis/node.py
Owners: @fuwenguang, @niuweizhi

[PYTORCH-13117] feat(demo): add shell script
  examples/libtorch_mlu/README.md
  examples/libtorch_mlu/build.sh
  examples/libtorch_mlu/inference_model.cpp
  examples/libtorch_mlu/run.sh
  examples/libtorch_record_stream/README.md
  examples/libtorch_record_stream/build.sh
  examples/libtorch_record_stream/run.sh
  examples/libtorch_resnet/README.md
  examples/libtorch_resnet/build.sh
  examples/libtorch_resnet/libtorch_resnet.cpp
  examples/libtorch_resnet/run.sh
Owners: @kongweiguang, @zhujing

[PYTORCH-12939] feat(int64): remove restrictions for int64 on topk/sort/bitcompute
  torch_mlu/csrc/aten/operators/cnnl/bitwise_operators.cpp
  torch_mlu/csrc/aten/operators/cnnl/sort.cpp
  torch_mlu/csrc/aten/operators/cnnl/topk.cpp
Owners: @kongweiguang, @zhujing

feat(neuware): update driver and cncv version
  scripts/release/build.property
  test/torch_ops/test_divide.py
Owners: @kongweiguang, @zhujing

[PYTORCH-12933][PYTORCH-12935]: support foreach_sqrt and foreach_lerp
  codegen/mlu_functions.yaml
  test/run_test.py
  test/test_foreach_op/foreach_test_utils.py
  test/test_foreach_op/test_foreach_lerp.py
  test/test_foreach_op/test_foreach_unary.py
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
  torch_mlu/csrc/aten/operators/cnnl/foreach_lerp.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_unary.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_lerp_op.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13072] feat(demo): improve demo
  examples/libtorch_record_stream/README.md
  examples/libtorch_record_stream/record_stream.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13042]feat(clamp):update to cnnlClip_v3
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.cpp
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.h
  torch_mlu/csrc/aten/mluop/mluopTensorDescriptors.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/clamp_internel.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/div_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/reduceOps_internal.cpp
Owners: @kongweiguang, @zhujing

test(op): add optensor int32+int64->int64 testcase
  test/torch_ops/test_add.py
  test/torch_ops/test_mul.py
  test/torch_ops/test_sub.py
Owners: @kongweiguang, @zhujing

feat(neuware): update cnnl&cncl&cnnlextra version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[PYTORCH-13054]feat(sdpa): attn_mask support non-contiguous
  pytorch_patches/support_sdpa_with_privateuse.diff
  torch_mlu/csrc/aten/operators/cnnl/transformers/attention.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-12740] feat(foreach): support foreach_mul
  codegen/mlu_functions.yaml
  test/run_test.py
  test/test_foreach_op/foreach_test_utils.py
  test/test_foreach_op/test_foreach_binary.py
  test/test_foreach_op/test_foreach_reduce.py
  test/test_foreach_op/test_foreach_unary.py
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_list.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_scalar.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_scalar_tensor.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_reduce_op.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_binary_tensors_op.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_common_utils.h
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_lerp_op.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_norm.cpp
Owners: @kongweiguang, @zhujing

Resolve PYTORCH-12940 "Add large tensor case 2.1"
  test/torch_ops/test_conv1d.py
  test/torch_ops/test_conv2d.py
  test/torch_ops/test_conv3d.py
  test/torch_ops/test_median.py
  test/torch_ops/test_upsample_bilinear2d.py
  test/torch_ops/test_upsample_linear1d.py
  test/torch_ops/test_upsample_nearest1d.py
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/median_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/median.cpp
Owners: @kongweiguang, @zhujing

test(transform): add test_case
  test/torch_ops/test_add.py
  test/torch_ops/test_mul.py
  test/torch_ops/test_sub.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13039] feat(test):add edge case for pad, stft
  test/torch_ops/test_reflection_pad.py
  test/torch_ops/test_spectral_ops.py
Owners: @kongweiguang, @zhujing

[PYTORCH-12736]feat(MLM): Relax some shape restrictions on SD
  torch_mlu/csrc/aten/operators/cnnl/transformers/sdp_utils.h
Owners: @kongweiguang, @zhujing

[PYTORCH-12936]feat(ops): pt21 Add _foreach_div op
  codegen/mlu_functions.yaml
  test/test_foreach_op/foreach_test_utils.py
  test/test_foreach_op/test_foreach_binary.py
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_list.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_scalar.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_scalar_list.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_binary_tensors_op.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-12068]feat(profiler): enable pmu with experimental_config
  test/profiler/test_profiler_pmu.py
  third_party/kineto_mlu/libkineto/libkineto_defs.bzl
  third_party/kineto_mlu/libkineto/src/CnperfActivity.cpp
  third_party/kineto_mlu/libkineto/src/CnperfPmuApi.cpp
  third_party/kineto_mlu/libkineto/src/CnperfPmuApi.h
  third_party/kineto_mlu/libkineto/src/CnperfPmuConfig.cpp
  third_party/kineto_mlu/libkineto/src/CnperfPmuConfig.h
  third_party/kineto_mlu/libkineto/src/CnperfProfiler.cpp
Owners: @kongweiguang, @zhujing, @fuwenguang, @niuweizhi

[PYTORCH-12935]fix(blacklist)remove passed blacklist
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_lerp_op.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13096] fix(test_random): update torch.random to torch.mlu.random
  test/torch/test_random.py
Owners: @kongweiguang, @zhujing

[PYTORCH-12059]feat(op): support optensor mixtype(fp32+int64->fp32)
  scripts/release/build.property
  test/torch_ops/test_add.py
  test/torch_ops/test_mul.py
  test/torch_ops/test_sub.py
  torch_mlu/csrc/aten/operators/cnnl/cnnlOpParams.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13117] feat(test): add test for stream_guard.h
  examples/libtorch_record_stream/record_stream.cpp
  torch_mlu/csrc/test/common/test_streamguard.cpp
Owners: @kongweiguang, @zhujing

[HERA-118]feat: support mtp_613.
  test/torch_ops/test_poolingbp.py
  torch_mlu/csrc/CMakeLists.txt
  torch_mlu/csrc/framework/core/device.cpp
  torch_mlu/csrc/framework/core/device.h
  torch_mlu/csrc/python/Module.cpp
  torch_mlu/utils/cpp_extension.py
Owners: @kongweiguang, @zhujing, @xushuo

fix test gather object
  test/distributed/test_distributed.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13169]fix(cpp extension): Fix cpp extension ci error
  test/mlu/test_device.py
  torch_mlu/utils/cpp_extension.py
Owners: @kongweiguang, @zhujing

[PYTORCH-12919]feat(cnnl_api):update cnnl api to v2.0
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.cpp
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.h
  torch_mlu/csrc/aten/cnnl/cnnlTensorDesc.cpp
  torch_mlu/csrc/aten/cnnl/cnnlTensorDesc.h
  torch_mlu/csrc/aten/cnnl/cnnlTensorDescriptors.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/activation_inertnal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/addmm_bias_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/arange_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/attention_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/baddbmm_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/bce_with_logits_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/convolution_fliter_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/convolution_forward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/convolution_input_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/convolution_internal_utils.h
  torch_mlu/csrc/aten/operators/cnnl/internal/div_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/embedding_bag_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/erfc_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/exp_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/expm1_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/group_norm_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/log1p_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/log_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/logic_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/native_batch_norm_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/native_batch_norm_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/native_layer_norm_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/native_layer_norm_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/nms_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/pow_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/roi_align_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/rrelu_with_noise_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/rsqrt_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/sqrt_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/trigon_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/logic.cpp
Owners: @kongweiguang, @zhujing

fix(op): Fix gelu backward precision error.
  torch_mlu/csrc/aten/operators/cnnl/activation.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/activation_internal.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-12736]feat(MLM): Relax some shape restrictions on SD
  test/torch_ops/test_transformers.py
  torch_mlu/csrc/aten/operators/cnnl/transformers/sdp_utils.h
Owners: @kongweiguang, @zhujing

[PYTORCH-12088]feat(ops):delete maxpool support limitaion
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
Owners: @kongweiguang, @zhujing

feat(neuware): update cnnl&cnnl-extra rc version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[PYTORCH-12933][PYTORCH-12935]: support foreach_sqrt and foreach_lerp
  codegen/mlu_functions.yaml
  test/run_test.py
  test/test_foreach_op/foreach_test_utils.py
  test/test_foreach_op/test_foreach_lerp.py
  test/test_foreach_op/test_foreach_unary.py
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
  torch_mlu/csrc/aten/operators/cnnl/foreach_lerp.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_unary.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_lerp_op.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13218]fix(conv): Removed restriction that cnnlConvolutionBackwardData does not support large tensors
  test/torch_ops/test_conv2d.py
  test/torch_ops/test_conv3d.py
Owners: @kongweiguang, @zhujing
