Repository Cambricon/torch_mlu, changes with the owners that CODEOWNERS names for each.
All owners: @kongweiguang, @zhujing, @sifengyang, @xushuo, @fuwenguang, @niuweizhi, @zhiguangda, @daitian, @lipenghui, @mengpenghui, @zhouyusong

CODEOWNERS:

# defalut core reviewers
* @kongweiguang @zhujing

# stream/event
/torch_mlu/csrc/framework/core/MLUEvent* @sifengyang
/torch_mlu/csrc/python/Event* @sifengyang
/torch_mlu/csrc/framework/core/MLUStream* @sifengyang
/torch_mlu/csrc/python/Stream* @sifengyang
/torch_mlu/mlu/streams.py @sifengyang

# device/guard
/torch_mlu/csrc/framework/core/device* @xushuo
/torch_mlu/csrc/framework/core/*guard* @xushuo
/torch_mlu/mlu/__init__.py @xushuo  
/torch_mlu/csrc/framework/core/caching_event* @xushuo
/torch_mlu/csrc/python/Module* @xushuo

# profiler
/torch_mlu/csrc/framework/profiler/ @fuwenguang @niuweizhi 
/torch_mlu/profiler/ @fuwenguang @niuweizhi
/third_party/kineto_mlu/ @fuwenguang @niuweizhi
/torch_mlu/mlu/profiler.py @fuwenguang @niuweizhi

# distributed
/torch_mlu/csrc/framework/distributed/ @zhiguangda
/torch_mlu/csrc/python/ProcessGroupCNCL* @zhiguangda
/torch_mlu/distributed/nn/ @zhiguangda
/torch_mlu/mlu/cncl.py @zhiguangda

# MLUGraph
/torch_mlu/csrc/framework/graphs/ @daitian  
/torch_mlu/csrc/python/Graph* @daitian 
/torch_mlu/mlu/graph.py @daitian 

# allocator
/torch_mlu/csrc/framework/core/*allocator* @lipenghui
/torch_mlu/csrc/framework/core/*memory* @lipenghui
/torch_mlu/mlu/memory.py @lipenghui

# storage/IPC
/torch_mlu/csrc/python/Storage* @mengpenghui
/torch_mlu/mlu/storage.py @mengpenghui
/torch_mlu/csrc/python/MluIPC* @mengpenghui
/torch_mlu/mlu/reductions.py @mengpenghui

# torch.compile
/torch_mlu/_dynamo/ @zhouyusong
/torch_mlu/_inductor/ @zhouyusong

# fsdp
/torch_mlu/distributed/_shard/ @daitian

[PYTORCH-12180]feat(torch.cuda): adapt temperature, utilization, power_draw and clock_rate APIs
  test/mlu/test_mlu.py
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
  torch_mlu/mlu/__init__.py
Owners: @kongweiguang, @zhujing, @xushuo

[PYTORCH-13017] remove class Float8Storage defined by mlu
  test/storage/test_storage.py
  torch_mlu/mlu/__init__.py
Owners: @kongweiguang, @zhujing, @xushuo

[PYTORCH-13029][PYTORCH-13030]feat(api):add benchmark,deterministic
  test/torch_ops/test_conv1d.py
  test/torch_ops/test_conv2d.py
  test/torch_ops/test_conv3d.py
  test/utils/test_gpu_migration.py
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
  torch_mlu/backends/cnnl/__init__.py
  torch_mlu/csrc/aten/operators/cnnl/convolution.cpp
  torch_mlu/csrc/python/python_variable_methods.cpp
  torch_mlu/csrc/utils/common.h
  torch_mlu/utils/gpu_migration/migration.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13489]feat(dist):relax contiguous fo p2p
  test/distributed/test_distributed.py
  torch_mlu/csrc/framework/distributed/process_group_cncl.cpp
Owners: @kongweiguang, @zhujing, @zhiguangda

[PYTORCH-12930] feat(scaled_mm): adapt scaled mm
  codegen/mlu_functions.yaml
  test/distributed/test_distributed.py
  test/torch_ops/test_scaled_mm.py
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.cpp
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.h
  torch_mlu/csrc/aten/operators/cnnl/addmm.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/scaled_mm_bias_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/scaled_mm_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/scaled_matmul.cpp
  torch_mlu/csrc/aten/operators/cnnl/scaled_matmul_utils.cpp
  torch_mlu/csrc/aten/operators/cnnl/scaled_matmul_utils.h
  torch_mlu/csrc/aten/utils/dispatch.h
  torch_mlu/csrc/framework/distributed/process_group_cncl.cpp
Owners: @kongweiguang, @zhujing, @zhiguangda

[PYTORCH-13469] feat(perf_env_check): Refactor perf_env_check to support VM usage.
  tools/perf_env_check/perf_env_check.sh
Owners: @kongweiguang, @zhujing

[PYTORCH-13772] feat(fill): support fp8
  test/torch/test_fp8_tensor.py
  test/torch_ops/test_fill.py
  torch_mlu/csrc/aten/operators/cnnl/fill.cpp
Owners: @kongweiguang, @zhujing

feat(neuware): update mluops version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[PYTORCH-13815]fix(docs): pt21 remove event limitations
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
Owners: @kongweiguang, @zhujing

[PYTORCH-13107]feat(distopt_fused_adam): add distopt_fused_adam.
  codegen/mlu_functions.yaml
  test/optimizer/test_multi_tensor_fused_adam.py
  test/run_test.py
  tools/autogen_torch_api/api_support_lists/mlu_custom_operators.yaml
  torch_mlu/csrc/aten/operators/bang/common_utils.h
  torch_mlu/csrc/aten/operators/bang/distopt_fused_adam.cpp
  torch_mlu/csrc/aten/operators/bang/internal/bang_internal.h
  torch_mlu/csrc/aten/operators/bang/internal/distopt_fused_adam_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/distopt_fused_adam_remainder_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/load_and_store.h
  torch_mlu/csrc/aten/operators/bang/internal/memory_policy.h
  torch_mlu/csrc/aten/operators/bang/internal/three_stage_pipeline.h
Owners: @kongweiguang, @zhujing

[PYTORCH-13758]fix getDeviceFromPtr error when offer a device ptr
  torch_mlu/csrc/framework/hooks/MLUHooks.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13631] fix(adam): change compute order
  torch_mlu/csrc/aten/operators/bang/internal/fused_adam_internal.mlu
Owners: @kongweiguang, @zhujing

[PYTORCH-13030]fix(cnnl.flag):fix flags migration s2
  torch_mlu/csrc/python/python_variable_methods.cpp
  torch_mlu/utils/gpu_migration/migration.py
Owners: @kongweiguang, @zhujing

feat(neuware): update cnnlextra & mluops version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[PYTORCH-13817] fix(test_fill): update fill op float8 test
  test/torch_ops/test_fill.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13540] add int/long dtype support for torch.sign
  test/torch_ops/test_sign.py
  torch_mlu/csrc/aten/operators/cnnl/cnnlOpParams.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13830]fix(perf_env_check): Fix grammar issues.
  tools/perf_env_check/perf_env_check.sh
Owners: @kongweiguang, @zhujing

[DRIVER-24131]fix(ops): item and nonzero use pinned memory
  torch_mlu/csrc/aten/operators/cnnl/internal/nonzero_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/scalar.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13232]feat(mlu_ops_lite): support mlu_ops_lite and sparse_add
  cmake/Summary.cmake
  codegen/dest/gen_external_mlu.py
  codegen/gen_mlu_stubs.py
  codegen/mlu_functions.yaml
  scripts/build_torch_mlu_lib.sh
  scripts/release/build.property
  setup.py
  test/codegen/test_gen_mlu_stubs.py
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
  tools/mlu_ops_lite/bangc_helper_dtype.diff
  tools/mlu_ops_lite/bangc_kernels.diff
  tools/mlu_ops_lite/copy_files.py
  tools/mlu_ops_lite/mlu_ops_lite.sh
  tools/mlu_ops_lite/mlu_ops_lite.yaml
  tools/mlu_ops_lite/prepare_mlu_ops_lite.py
  torch_mlu/csrc/CMakeLists.txt
  torch_mlu/csrc/aten/CMakeLists.txt
  torch_mlu/csrc/aten/mluop/mluopCommonDescriptors.h
  torch_mlu/csrc/aten/mluop/mluopDescriptors.h
  torch_mlu/csrc/aten/mluop/mluopHandle.h
  torch_mlu/csrc/aten/mluop/mluopTensorDescriptors.h
  torch_mlu/csrc/aten/mluop/mluopUtils.h
  torch_mlu/csrc/aten/operators/bang/mlu_ops_lite/bangc_helper_dtype.h
  torch_mlu/csrc/aten/operators/bang/mlu_ops_lite/bangc_kernels.h
  torch_mlu/csrc/aten/operators/bang/mlu_ops_lite/kernels/debug.h
  torch_mlu/csrc/aten/operators/bang/mlu_ops_lite/kernels/device_check.h
  torch_mlu/csrc/aten/operators/bang/mlu_ops_lite/kernels/kernel.h
  torch_mlu/csrc/aten/operators/bang/mlu_ops_lite/mlu_ops_lite.json
  torch_mlu/csrc/aten/operators/bang/mlu_ops_lite/sparse_add.h
  torch_mlu/csrc/aten/operators/bang/mlu_ops_lite/sparse_add.mlu
  torch_mlu/csrc/aten/operators/bang/mlu_ops_lite/sparse_add_kernel.h
  torch_mlu/csrc/aten/operators/bang/mlu_ops_lite/sparse_add_union1.mlu
  torch_mlu/csrc/aten/operators/bang/sparse_add.cpp
  torch_mlu/csrc/aten/operators/cnnl/copy.cpp
  torch_mlu/csrc/aten/utils/dispatch.h
  torch_mlu/csrc/aten/utils/exceptions.h
Owners: @kongweiguang, @zhujing

[PYTORCH-13705] feat(cpp): expose header file
  setup.py
  torch_mlu/csrc/framework/core/memory_allocator.cpp
  torch_mlu/csrc/framework/core/memory_allocator.h
  torch_mlu/csrc/test/common/test_caching_host_allocator.cpp
Owners: @kongweiguang, @zhujing, @lipenghui

[PYTORCH-13850]:fix(qianchuan):slicebackward 2.1
  codegen/mlu_functions.yaml
  test/torch_ops/test_slice.py
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/slice_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/slice_backward.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13868] feat(header): remove unused headers
  torch_mlu/csrc/framework/generator/generator_impl.h
Owners: @kongweiguang, @zhujing

Revert "[PYTORCH-13868] feat(header): remove unused headers"
  torch_mlu/csrc/framework/generator/generator_impl.h
Owners: @kongweiguang, @zhujing

[PYTORCH-13893]fix(flash attention): improving unit test
  test/torch_ops/test_scaled_dot_product_attention.py
Owners: @kongweiguang, @zhujing

feat(neuware): update cntoolkit version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[DRIVER-24131]fix(ops): item and nonzero use sync+cnrtmemcpy
  torch_mlu/csrc/aten/operators/cnnl/internal/nonzero_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/scalar.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13505]fix(tf32): fix a bug when get matmul tf32 from env
  pytorch_patches/support_mlu_lazy_init.diff
  pytorch_patches/support_tf32_ctrl.diff
  test/mlu/test_tf32_ctrl.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13050]fix(ops): pt21 unique support int16
  test/torch_ops/test_unique.py
  torch_mlu/csrc/aten/utils/dispatch.h
Owners: @kongweiguang, @zhujing

[PYTORCH-13970]doc(precision_mode): add op precision related apis to API manuals
  tools/autogen_torch_api/api_support_lists/mlu_custom_api.yaml
Owners: @kongweiguang, @zhujing

[PYTORCH-13772] feat(scaled_mm): solve remaining issues of scaled_mm
  test/torch_ops/test_scaled_mm.py
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/scaled_mm_bias_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/scaled_mm_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/scaled_matmul.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13928]fix(env): pt21 fix env migration ut
  test/utils/test_env_migration.py
  torch_mlu/utils/gpu_migration/env_migration.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13627][PYTORCH-13872]feat(precision_mode): support get/set precision mode op by op
  examples/libtorch_record_stream/record_stream.cpp
  scripts/release/build.property
  test/custom_ops/test_fused_adam_high_precision.py
  test/custom_ops/test_fused_l2_norm_high_precision.py
  test/custom_ops/test_fused_lamb_high_precison.py
  test/mlu/test_op_precision_mode.py
  test/optimizer/test_torch_fused_adam_high_precision.py
  test/optimizer/test_torch_fused_adamw_high_precision.py
  test/run_test.py
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.cpp
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.h
  torch_mlu/csrc/aten/operators/bang/common_utils.h
  torch_mlu/csrc/aten/operators/bang/fused_adam.cpp
  torch_mlu/csrc/aten/operators/bang/fused_l2_norm.cpp
  torch_mlu/csrc/aten/operators/bang/fused_lamb.cpp
  torch_mlu/csrc/aten/operators/bang/fused_lamb_amp.cpp
  torch_mlu/csrc/aten/operators/bang/torch_fused_adamw_common_utils.h
  torch_mlu/csrc/aten/operators/cnnl/internal/activation_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/div_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_unary_op.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/normal_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/pow_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/reduceOps_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/sqrt_internal.cpp
  torch_mlu/csrc/python/python_variable_methods.cpp
  torch_mlu/csrc/utils/common.cpp
  torch_mlu/csrc/utils/common.h
  torch_mlu/mlu/__init__.py
Owners: @kongweiguang, @zhujing, @xushuo

[PYTORCH-13017] support fp8 storage
  test/storage/test_storage.py
  torch_mlu/csrc/aten/operators/cnnl/scalar.cpp
  torch_mlu/csrc/aten/utils/types.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13489]fix(dist): fix device guard
  torch_mlu/csrc/framework/distributed/process_group_cncl.cpp
Owners: @zhiguangda

[PYTORCH-13489]feat(dist): relax contiguous for p2p
  test/distributed/test_distributed.py
  torch_mlu/csrc/framework/distributed/process_group_cncl.cpp
Owners: @kongweiguang, @zhujing, @zhiguangda

[PYTORCH-13758]fix getDeviceFromPtr error when offer a device ptr
  torch_mlu/csrc/framework/hooks/MLUHooks.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13029][PYTORCH-13030]feat(api):add benchmark,deterministic
  test/torch_ops/test_conv1d.py
  test/torch_ops/test_conv2d.py
  test/torch_ops/test_conv3d.py
  test/utils/test_gpu_migration.py
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
  torch_mlu/backends/cnnl/__init__.py
  torch_mlu/csrc/aten/operators/cnnl/convolution.cpp
  torch_mlu/csrc/python/python_variable_methods.cpp
  torch_mlu/csrc/utils/common.h
  torch_mlu/utils/gpu_migration/migration.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13107]feat(distopt_fused_adam): add distopt_fused_adam.
  codegen/mlu_functions.yaml
  test/optimizer/test_multi_tensor_fused_adam.py
  test/run_test.py
  tools/autogen_torch_api/api_support_lists/mlu_custom_operators.yaml
  torch_mlu/csrc/aten/operators/bang/common_utils.h
  torch_mlu/csrc/aten/operators/bang/distopt_fused_adam.cpp
  torch_mlu/csrc/aten/operators/bang/internal/bang_internal.h
  torch_mlu/csrc/aten/operators/bang/internal/distopt_fused_adam_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/distopt_fused_adam_remainder_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/load_and_store.h
  torch_mlu/csrc/aten/operators/bang/internal/memory_policy.h
  torch_mlu/csrc/aten/operators/bang/internal/three_stage_pipeline.h
Owners: @kongweiguang, @zhujing

feat(neuware): update cnnlextra & mluops version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[PYTORCH-13777] fix storage uts
  test/storage/test_storage.py
Owners: @kongweiguang, @zhujing
