Repository Cambricon/torch_mlu, changes with the owners that CODEOWNERS names for each.
All owners: @kongweiguang, @zhujing, @sifengyang, @xushuo, @fuwenguang, @niuweizhi, @zhiguangda, @daitian, @lipenghui, @mengpenghui, @zhouyusong

CODEOWNERS:

# defalut core reviewers
* @kongweiguang @zhujing

# stream/event
/torch_mlu/csrc/framework/core/MLUEvent* @sifengyang
/torch_mlu/csrc/python/Event* @sifengyang
/torch_mlu/csrc/framework/core/MLUStream* @sifengyang
/torch_mlu/csrc/python/Stream* @sifengyang
/torch_mlu/mlu/streams.py @sifengyang

# device/guard
/torch_mlu/csrc/framework/core/device* @xushuo
/torch_mlu/csrc/framework/core/*guard* @xushuo
/torch_mlu/mlu/__init__.py @xushuo  
/torch_mlu/csrc/framework/core/caching_event* @xushuo
/torch_mlu/csrc/python/Module* @xushuo

# profiler
/torch_mlu/csrc/framework/profiler/ @fuwenguang @niuweizhi 
/torch_mlu/profiler/ @fuwenguang @niuweizhi
/third_party/kineto_mlu/ @fuwenguang @niuweizhi
/torch_mlu/mlu/profiler.py @fuwenguang @niuweizhi

# distributed
/torch_mlu/csrc/framework/distributed/ @zhiguangda
/torch_mlu/csrc/python/ProcessGroupCNCL* @zhiguangda
/torch_mlu/distributed/nn/ @zhiguangda
/torch_mlu/mlu/cncl.py @zhiguangda

# MLUGraph
/torch_mlu/csrc/framework/graphs/ @daitian  
/torch_mlu/csrc/python/Graph* @daitian 
/torch_mlu/mlu/graph.py @daitian 

# allocator
/torch_mlu/csrc/framework/core/*allocator* @lipenghui
/torch_mlu/csrc/framework/core/*memory* @lipenghui
/torch_mlu/mlu/memory.py @lipenghui

# storage/IPC
/torch_mlu/csrc/python/Storage* @mengpenghui
/torch_mlu/mlu/storage.py @mengpenghui
/torch_mlu/csrc/python/MluIPC* @mengpenghui
/torch_mlu/mlu/reductions.py @mengpenghui

# torch.compile
/torch_mlu/_dynamo/ @zhouyusong
/torch_mlu/_inductor/ @zhouyusong

# fsdp
/torch_mlu/distributed/_shard/ @daitian

[PYTORCH-13125]fix(ipc):fix workround
  test/multiprocessing/test_multiprocessing.py
  torch_mlu/csrc/framework/core/caching_allocator.cpp
  torch_mlu/csrc/framework/core/caching_allocator.h
  torch_mlu/csrc/python/StorageSharing.cpp
Owners: @kongweiguang, @zhujing, @lipenghui, @mengpenghui

update triton version
  scripts/release/build.property
  test/torch_ops/test__transform_bias_rescale_qkv.py
Owners: @kongweiguang, @zhujing

feat(neuware): update mlu-ops version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[PYTORCH-12427]feat(fusedAdam high precision): using diff == 0 in high precision fusedAdam.
  test/custom_ops/test_fused_adam.py
  test/custom_ops/test_fused_adam_high_percision.py
Owners: @kongweiguang, @zhujing

feat(neuware): update driver and cncv version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[PYTORCH-13117] feat(demo): add shell script
  examples/libtorch_mlu/README.md
  examples/libtorch_mlu/build.sh
  examples/libtorch_mlu/inference_model.cpp
  examples/libtorch_mlu/run.sh
  examples/libtorch_record_stream/README.md
  examples/libtorch_record_stream/build.sh
  examples/libtorch_record_stream/run.sh
  examples/libtorch_resnet/README.md
  examples/libtorch_resnet/build.sh
  examples/libtorch_resnet/libtorch_resnet.cpp
  examples/libtorch_resnet/run.sh
Owners: @kongweiguang, @zhujing

[PYTORCH-12939] feat(int64): remove restrictions for int64 on topk/sort/bitcompute
  torch_mlu/csrc/aten/operators/cnnl/bitwise_operators.cpp
  torch_mlu/csrc/aten/operators/cnnl/sort.cpp
  torch_mlu/csrc/aten/operators/cnnl/topk.cpp
Owners: @kongweiguang, @zhujing

test(op): add optensor int32+int64->int64 testcase
  test/torch_ops/test_add.py
  test/torch_ops/test_mul.py
  test/torch_ops/test_sub.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13072] feat(demo): improve demo
  examples/libtorch_record_stream/README.md
  examples/libtorch_record_stream/record_stream.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-12987]feat(docker): Add arm whl package and dockerfile for anolisos8.8.
  scripts/build_torch_mlu.sh
  scripts/release/build_wheel.sh
  scripts/release/independent_build.sh
  test/mlu/test_caching_allocator.py
Owners: @kongweiguang, @zhujing

Resolve PYTORCH-12940 "Add large tensor case 2.4"
  test/torch_ops/test_conv1d.py
  test/torch_ops/test_median.py
  test/torch_ops/test_upsample_bilinear2d.py
  test/torch_ops/test_upsample_linear1d.py
  test/torch_ops/test_upsample_nearest1d.py
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/median_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/median.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13042]feat(clamp):update to cnnlClip_v3
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.cpp
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.h
  torch_mlu/csrc/aten/mluop/mluopTensorDescriptors.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/clamp_internel.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/div_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/reduceOps_internal.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-12740] feat(foreach): support foreach_mul
  codegen/dest/gen_external_mlu.py
  codegen/mlu_functions.yaml
  test/run_test.py
  test/test_foreach_op/foreach_test_utils.py
  test/test_foreach_op/test_foreach_binary.py
  test/test_foreach_op/test_foreach_reduce.py
  test/test_foreach_op/test_foreach_unary.py
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_list.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_scalar.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_scalar_list.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_scalar_tensor.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_reduce_op.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_binary_tensors_op.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_common_utils.h
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_lerp_op.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_norm.cpp
Owners: @kongweiguang, @zhujing

test(transform): add test_case
  test/torch_ops/test_add.py
  test/torch_ops/test_mul.py
  test/torch_ops/test_sub.py
Owners: @kongweiguang, @zhujing

[PYTORCH-12736]feat(MLM): Relax some shape restrictions on SD
  torch_mlu/csrc/aten/operators/cnnl/transformers/sdp_utils.h
Owners: @kongweiguang, @zhujing

feat(neuware): update cnnl&cncl&cnnlextra version
  scripts/release/build.property
  test/torch_ops/test_divide.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13054]feat(sdpa): attn_mask support non-contiguous
  torch_mlu/csrc/aten/operators/cnnl/transformers/attention.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13039] feat(test):add edge case for pad, stft
  test/torch_ops/test_reflection_pad.py
  test/torch_ops/test_spectral_ops.py
Owners: @kongweiguang, @zhujing

[PYTORCH-12936]feat(ops): pt24 Add _foreach_div op
  codegen/mlu_functions.yaml
  test/test_foreach_op/foreach_test_utils.py
  test/test_foreach_op/test_foreach_binary.py
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_list.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_scalar.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_scalar_list.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_binary_tensors_op.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-12935]fix(blacklist)remove passed blacklist
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_lerp_op.cpp
Owners: @kongweiguang, @zhujing

feat(neuware): update cncl version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[PYTORCH-13314] fix(test): foreach div baseline
  test/test_foreach_op/foreach_test_utils.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13253]feat(dynamic_ops): support custom dynamic stitch and dynamic partition op
  codegen/mlu_functions.yaml
  test/custom_ops/test_dynamic_partition.py
  test/custom_ops/test_dynamic_stitch.py
  tools/autogen_torch_api/api_support_lists/mlu_custom_operators.yaml
  torch_mlu/csrc/aten/operators/cnnl/dynamic_partition.cpp
  torch_mlu/csrc/aten/operators/cnnl/dynamic_stitch.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/dynamic_partition_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/dynamic_stitch_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/split_internal.cpp
  torch_mlu/csrc/aten/utils/dispatch.h
  torch_mlu/csrc/aten/utils/shape_util.cpp
  torch_mlu/csrc/aten/utils/shape_util.h
Owners: @kongweiguang, @zhujing

[PYTORCH-13315]fix(test): fix median large tensor test
  test/torch_ops/test_median.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13315]fix(test): fix median large tensor test
  test/torch_ops/test_median.py
Owners: @kongweiguang, @zhujing

feat(neuware): update cncl version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[PYTORCH-13314] fix(test): foreach div baseline
  test/test_foreach_op/foreach_test_utils.py
Owners: @kongweiguang, @zhujing

update triton version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[PYTORCH-13368] fix(foreach): change base
  test/test_foreach_op/foreach_test_utils.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13372]fix(test):skip distributed test for lower gcc version
  test/common_utils.py
  test/distributed/test_distributed.py
Owners: @kongweiguang, @zhujing

improve gpu_migration substitution list
  torch_mlu/utils/gpu_migration/migration.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13356](profiler): fix non-cncl annotation analysis
  test/profiler/test_profiler.py
  torch_mlu/profiler/analysis/event_parser.py
Owners: @kongweiguang, @zhujing, @fuwenguang, @niuweizhi

feat(neuware): update cnnl and cntoolkit version
  scripts/release/build.property
  third_party/kineto_mlu/libkineto/src/CnperfApi.cpp
Owners: @kongweiguang, @zhujing, @fuwenguang, @niuweizhi

[PYTORCH-13355]fix(nllloss): set random seed for nllloss test
  test/torch_ops/test_nll_loss.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13384]bug: FA support MLU580
  torch_mlu/csrc/aten/operators/cnnl/transformers/sdp_utils.h
Owners: @kongweiguang, @zhujing

[PYTORCH-12864]feat(neuware): upgrade cntoolkit4.0
  examples/mlu_extension/mlu_custom_ext/src/mlu/bang_sigmoid_sample.h
  examples/mlu_extension/mlu_custom_ext/src/mlu/bang_sigmoid_sample.mlu
  test/mlu/test_pluggable_allocator.py
  torch_mlu/csrc/aten/operators/bang/amp_unscale.cpp
  torch_mlu/csrc/aten/operators/bang/amp_update_scale.cpp
  torch_mlu/csrc/aten/operators/bang/dump.cpp
  torch_mlu/csrc/aten/operators/bang/fused_adam.cpp
  torch_mlu/csrc/aten/operators/bang/fused_l2_norm.cpp
  torch_mlu/csrc/aten/operators/bang/fused_lamb.cpp
  torch_mlu/csrc/aten/operators/bang/fused_lamb_amp.cpp
  torch_mlu/csrc/aten/operators/bang/fused_sgd.cpp
  torch_mlu/csrc/aten/operators/bang/internal/amp_non_finite_and_unscale_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/bang_internal.h
  torch_mlu/csrc/aten/operators/bang/internal/dump_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_l2_norm_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_lamb_amp_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_lamb_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_sgd_internal.mlu
  torch_mlu/csrc/aten/operators/bang/torch_fused_adamw_common_utils.h
  torch_mlu/csrc/aten/operators/cnnl/internal/clamp_internel.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_lerp_op.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/nonzero_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/pooling_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/rnn_forward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/resize.cpp
  torch_mlu/csrc/aten/operators/cnnl/rnn.cpp
  torch_mlu/csrc/aten/operators/cnnl/scalar.cpp
  torch_mlu/csrc/aten/utils/exceptions.h
  torch_mlu/csrc/aten/utils/tensor_util.cpp
  torch_mlu/csrc/aten/utils/types.cpp
  torch_mlu/csrc/aten/utils/types.h
  torch_mlu/csrc/framework/core/MLUEvent.cpp
  torch_mlu/csrc/framework/core/MLUStream.cpp
  torch_mlu/csrc/framework/core/MLUStream.h
  torch_mlu/csrc/framework/core/guard_impl.h
  torch_mlu/csrc/python/StorageMethods.cpp
  torch_mlu/csrc/test/common/test_queue.cpp
Owners: @kongweiguang, @zhujing, @sifengyang, @xushuo, @mengpenghui

improve gpu_migration substitution list
  torch_mlu/utils/gpu_migration/migration.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13253]feat(dynamic_ops): support custom dynamic stitch and dynamic partition op
  codegen/mlu_functions.yaml
  test/custom_ops/test_dynamic_partition.py
  test/custom_ops/test_dynamic_stitch.py
  tools/autogen_torch_api/api_support_lists/mlu_custom_operators.yaml
  torch_mlu/csrc/aten/operators/cnnl/dynamic_partition.cpp
  torch_mlu/csrc/aten/operators/cnnl/dynamic_stitch.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/dynamic_partition_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/dynamic_stitch_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/split_internal.cpp
  torch_mlu/csrc/aten/utils/dispatch.h
  torch_mlu/csrc/aten/utils/shape_util.cpp
  torch_mlu/csrc/aten/utils/shape_util.h
Owners: @kongweiguang, @zhujing

[PYTORCH-13368] fix(foreach): change base
  test/test_foreach_op/foreach_test_utils.py
Owners: @kongweiguang, @zhujing

feat(neuware): update cnnl and cntoolkit version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing
