Repository Cambricon/torch_mlu, changes with the owners that CODEOWNERS names for each.
All owners: @kongweiguang, @zhujing, @sifengyang, @xushuo, @fuwenguang, @niuweizhi, @zhiguangda, @daitian, @lipenghui, @mengpenghui, @zhouyusong

CODEOWNERS:

# defalut core reviewers
* @kongweiguang @zhujing

# stream/event
/torch_mlu/csrc/framework/core/MLUEvent* @sifengyang
/torch_mlu/csrc/python/Event* @sifengyang
/torch_mlu/csrc/framework/core/MLUStream* @sifengyang
/torch_mlu/csrc/python/Stream* @sifengyang
/torch_mlu/mlu/streams.py @sifengyang

# device/guard
/torch_mlu/csrc/framework/core/device* @xushuo
/torch_mlu/csrc/framework/core/*guard* @xushuo
/torch_mlu/mlu/__init__.py @xushuo  
/torch_mlu/csrc/framework/core/caching_event* @xushuo
/torch_mlu/csrc/python/Module* @xushuo

# profiler
/torch_mlu/csrc/framework/profiler/ @fuwenguang @niuweizhi 
/torch_mlu/profiler/ @fuwenguang @niuweizhi
/third_party/kineto_mlu/ @fuwenguang @niuweizhi
/torch_mlu/mlu/profiler.py @fuwenguang @niuweizhi

# distributed
/torch_mlu/csrc/framework/distributed/ @zhiguangda
/torch_mlu/csrc/python/ProcessGroupCNCL* @zhiguangda
/torch_mlu/distributed/nn/ @zhiguangda
/torch_mlu/mlu/cncl.py @zhiguangda

# MLUGraph
/torch_mlu/csrc/framework/graphs/ @daitian  
/torch_mlu/csrc/python/Graph* @daitian 
/torch_mlu/mlu/graph.py @daitian 

# allocator
/torch_mlu/csrc/framework/core/*allocator* @lipenghui
/torch_mlu/csrc/framework/core/*memory* @lipenghui
/torch_mlu/mlu/memory.py @lipenghui

# storage/IPC
/torch_mlu/csrc/python/Storage* @mengpenghui
/torch_mlu/mlu/storage.py @mengpenghui
/torch_mlu/csrc/python/MluIPC* @mengpenghui
/torch_mlu/mlu/reductions.py @mengpenghui

# torch.compile
/torch_mlu/_dynamo/ @zhouyusong
/torch_mlu/_inductor/ @zhouyusong

# fsdp
/torch_mlu/distributed/_shard/ @daitian

feat(package): update for changing of ffmpeg release path
  scripts/release/build_wheel.sh
Owners: @kongweiguang, @zhujing

feat(neuware): update cntoolkit v3.15.1 version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

feat(neuware): update cntoolkit version
  scripts/release/build.property
  test/torch_ops/test_coalesce.py
Owners: @kongweiguang, @zhujing

feat(neuware): update cntoolkit v3.15.1 version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

feat(neuware): update cntoolkit version
  scripts/release/build.property
  test/torch_ops/test_coalesce.py
Owners: @kongweiguang, @zhujing

fix(coalesce): shield test case for ramdom errors for coalesce op
  test/torch_ops/test_coalesce.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13044]docs(custom_ops): Fixed bugs in doc of MLU custom ops
  tools/autogen_torch_api/api_support_lists/mlu_custom_operators.yaml
Owners: @kongweiguang, @zhujing

fix gpu_migration 2.1
  test/utils/test_gpu_migration.py
  torch_mlu/__init__.py
  torch_mlu/utils/gpu_migration/migration.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13021]feat(op): Replace cnnlBoxIouRotated/cnnlPointsInBoxes with...
  codegen/mlu_functions.yaml
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/points_in_boxes_mlu_internal.cpp
  torch_mlu/csrc/aten/operators/mluop/boxes_iou_bev.cpp
  torch_mlu/csrc/aten/operators/mluop/internal/boxes_iou_bev_internal.cpp
  torch_mlu/csrc/aten/operators/mluop/internal/mluop_internal.h
  torch_mlu/csrc/aten/operators/mluop/internal/points_in_boxes_mlu_internal.cpp
  torch_mlu/csrc/aten/operators/mluop/points_in_boxes_mlu.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-12789]feat(l2_norm): common function support reduce op and add fused l2-norm op.
  codegen/mlu_functions.yaml
  test/custom_ops/test_fused_adam.py
  test/custom_ops/test_fused_l2_norm.py
  test/custom_ops/test_fused_sgd.py
  test/optimizer/test_fused_adam.py
  test/optimizer/test_fused_lamb.py
  test/optimizer/test_fused_sgd.py
  test/optimizer/test_torch_fused_adam.py
  test/optimizer/test_torch_fused_adamw.py
  test/run_test.py
  torch_mlu/csrc/aten/operators/bang/fused_adam.cpp
  torch_mlu/csrc/aten/operators/bang/fused_l2_norm.cpp
  torch_mlu/csrc/aten/operators/bang/fused_l2_norm_amp.cpp
  torch_mlu/csrc/aten/operators/bang/internal/amp_non_finite_and_unscale.mlu
  torch_mlu/csrc/aten/operators/bang/internal/bang_internal.h
  torch_mlu/csrc/aten/operators/bang/internal/block_info_container.h
  torch_mlu/csrc/aten/operators/bang/internal/common_util.h
  torch_mlu/csrc/aten/operators/bang/internal/fused_adam_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_l2_norm_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_torch_adamw_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/load_and_store.h
  torch_mlu/csrc/aten/operators/bang/internal/memory_policy.h
  torch_mlu/csrc/aten/operators/bang/internal/multi_tensor_apply.h
  torch_mlu/csrc/aten/operators/bang/torch_fused_adamw_common_utils.h
  torch_mlu/csrc/framework/core/device.cpp
  torch_mlu/csrc/framework/core/device.h
Owners: @kongweiguang, @zhujing, @xushuo

[PYTORCH-13008] feat(pad): support complex dtype
  test/torch_ops/test_constant_pad_nd.py
  torch_mlu/csrc/aten/operators/cnnl/internal/constant_pad_nd_internal.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-12943] fix(smoothl1loss): fix large tensor testcase
  test/torch_ops/test_smooth_l1_loss.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13072] add record_stream example
  examples/libtorch_record_stream/CMakeLists.txt
  examples/libtorch_record_stream/README.md
  examples/libtorch_record_stream/build.sh
  examples/libtorch_record_stream/record_stream.cpp
Owners: @kongweiguang, @zhujing

[TEST-35200]feat(*):support mlu-op gen case
  torch_mlu/csrc/utils/cndumper.cpp
  torch_mlu/csrc/utils/cndumper.h
Owners: @kongweiguang, @zhujing

[PYTORCH-12427]feat(ops): add high precision fused adam.
  test/custom_ops/test_fused_adam_high_percision.py
  test/custom_ops/test_fused_l2_norm.py
  torch_mlu/csrc/aten/operators/bang/fused_adam.cpp
  torch_mlu/csrc/aten/operators/bang/internal/bang_internal.h
  torch_mlu/csrc/aten/operators/bang/internal/fused_adam_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_l2_norm_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_torch_adamw_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/load_and_store.h
  torch_mlu/csrc/aten/operators/bang/internal/memory_policy.h
  torch_mlu/csrc/aten/operators/bang/internal/multi_tensor_apply.h
  torch_mlu/csrc/aten/operators/bang/internal/three_stage_pipeline.h
Owners: @kongweiguang, @zhujing

fix get_default_stream bug
  test/mlu/test_stream.py
  torch_mlu/mlu/__init__.py
Owners: @kongweiguang, @zhujing, @xushuo

feat(neuware): update cntoolkit version
  scripts/release/build.property
  test/mlu/test_stream.py
Owners: @kongweiguang, @zhujing

fix gpu_migration_2.4
  test/utils/test_gpu_migration.py
  torch_mlu/__init__.py
  torch_mlu/utils/gpu_migration/migration.py
Owners: @kongweiguang, @zhujing

[PYTORCH-12943] fix(smoothl1loss): fix large tensor testcase
  test/mlu/test_stream.py
  test/torch_ops/test_smooth_l1_loss.py
Owners: @kongweiguang, @zhujing

fix(coalesce): shield test case for ramdom errors for coalesce op
  test/torch_ops/test_coalesce.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13021]feat(op): Replace cnnlBoxIouRotated/cnnlPointsInBoxes with...
  codegen/mlu_functions.yaml
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/mluop/boxes_iou_bev.cpp
  torch_mlu/csrc/aten/operators/mluop/internal/boxes_iou_bev_internal.cpp
  torch_mlu/csrc/aten/operators/mluop/internal/mluop_internal.h
  torch_mlu/csrc/aten/operators/mluop/internal/points_in_boxes_mlu_internal.cpp
  torch_mlu/csrc/aten/operators/mluop/points_in_boxes_mlu.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13044]docs(custom_ops): Fixed bugs in doc of MLU custom ops
  tools/autogen_torch_api/api_support_lists/mlu_custom_operators.yaml
Owners: @kongweiguang, @zhujing

[PYTORCH-12789]feat(l2_norm): common function support reduce op and add fused l2-norm op.
  codegen/mlu_functions.yaml
  test/custom_ops/test_fused_adam.py
  test/custom_ops/test_fused_l2_norm.py
  test/custom_ops/test_fused_sgd.py
  test/optimizer/test_fused_adam.py
  test/optimizer/test_fused_lamb.py
  test/optimizer/test_fused_sgd.py
  test/optimizer/test_torch_fused_adam.py
  test/optimizer/test_torch_fused_adamw.py
  test/optimizer/test_torch_fused_sgd.py
  test/run_test.py
  torch_mlu/csrc/aten/operators/bang/fused_adam.cpp
  torch_mlu/csrc/aten/operators/bang/fused_l2_norm.cpp
  torch_mlu/csrc/aten/operators/bang/fused_l2_norm_amp.cpp
  torch_mlu/csrc/aten/operators/bang/internal/amp_non_finite_and_unscale.mlu
  torch_mlu/csrc/aten/operators/bang/internal/bang_internal.h
  torch_mlu/csrc/aten/operators/bang/internal/block_info_container.h
  torch_mlu/csrc/aten/operators/bang/internal/common_util.h
  torch_mlu/csrc/aten/operators/bang/internal/fused_adam_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_l2_norm_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_torch_adamw_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_torch_sgd_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/load_and_store.h
  torch_mlu/csrc/aten/operators/bang/internal/memory_policy.h
  torch_mlu/csrc/aten/operators/bang/internal/multi_tensor_apply.h
  torch_mlu/csrc/aten/operators/bang/torch_fused_adamw_common_utils.h
  torch_mlu/csrc/aten/operators/bang/torch_fused_sgd.cpp
  torch_mlu/csrc/framework/core/device.cpp
  torch_mlu/csrc/framework/core/device.h
Owners: @kongweiguang, @zhujing, @xushuo

[PYTORCH-12427]feat(ops): add high precision fused adam.
  test/custom_ops/test_fused_adam_high_percision.py
  test/custom_ops/test_fused_l2_norm.py
  torch_mlu/csrc/aten/operators/bang/fused_adam.cpp
  torch_mlu/csrc/aten/operators/bang/internal/bang_internal.h
  torch_mlu/csrc/aten/operators/bang/internal/fused_adam_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_l2_norm_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_torch_adamw_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_torch_sgd_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/load_and_store.h
  torch_mlu/csrc/aten/operators/bang/internal/memory_policy.h
  torch_mlu/csrc/aten/operators/bang/internal/multi_tensor_apply.h
  torch_mlu/csrc/aten/operators/bang/internal/three_stage_pipeline.h
Owners: @kongweiguang, @zhujing

[PYTORCH-13072] add record_stream example
  examples/libtorch_record_stream/CMakeLists.txt
  examples/libtorch_record_stream/README.md
  examples/libtorch_record_stream/build.sh
  examples/libtorch_record_stream/record_stream.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13008] feat(pad): support complex dtype
  test/torch_ops/test_constant_pad_nd.py
  torch_mlu/csrc/aten/operators/cnnl/internal/constant_pad_nd_internal.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-12662]feat(ChatGLM3-6b): support tensor input + scalar exp value to avoid calling full op
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/pow_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/pow.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-11564]feat(foreach): delete foreach patch.
  torch_mlu/__init__.py
  torch_mlu/utils/__init__.py
  torch_mlu/utils/_foreach_utils.py
Owners: @kongweiguang, @zhujing

feat(neuware): update cntoolkit version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[TEST-35200]feat(*): support mlu-op gen case
  torch_mlu/csrc/utils/cndumper.cpp
  torch_mlu/csrc/utils/cndumper.h
Owners: @kongweiguang, @zhujing

[PYTORCH-13067] feat(compile): delete python symbol from libtorch_mlu.so
  cmake/Summary.cmake
  examples/libtorch_mlu/CMakeLists.txt
  examples/libtorch_mlu/README.md
  examples/libtorch_record_stream/CMakeLists.txt
  examples/libtorch_record_stream/README.md
  examples/libtorch_record_stream/record_stream.cpp
  examples/libtorch_resnet/CMakeLists.txt
  examples/libtorch_resnet/README.md
  scripts/build_torch_mlu_lib.sh
  setup.py
  torch_mlu/csrc/CMakeLists.txt
  torch_mlu/csrc/framework/CMakeLists.txt
  torch_mlu/csrc/framework/core/stream_guard.h
  torch_mlu/csrc/framework/distributed/cncl_utils.h
  torch_mlu/csrc/framework/distributed/process_group_cncl.hpp
  torch_mlu/csrc/python/ProcessGroupCNCL.cpp
  torch_mlu/csrc/python/distributed/init.cpp
  torch_mlu/csrc/python/distributed/init.h
  torch_mlu/csrc/python/python_variable_methods.cpp
  torch_mlu/csrc/test/CMakeLists.txt
Owners: @kongweiguang, @zhujing, @xushuo, @zhiguangda

[PYTORCH-13067] feat(compile): delete python symbol from libtorch_mlu.so
  cmake/Summary.cmake
  examples/libtorch_mlu/CMakeLists.txt
  examples/libtorch_mlu/README.md
  examples/libtorch_record_stream/CMakeLists.txt
  examples/libtorch_record_stream/README.md
  examples/libtorch_record_stream/record_stream.cpp
  examples/libtorch_resnet/CMakeLists.txt
  examples/libtorch_resnet/README.md
  scripts/build_torch_mlu_lib.sh
  setup.py
  test/mlu/test_stream.py
  torch_mlu/csrc/CMakeLists.txt
  torch_mlu/csrc/framework/CMakeLists.txt
  torch_mlu/csrc/framework/core/stream_guard.h
  torch_mlu/csrc/framework/distributed/cncl_utils.h
  torch_mlu/csrc/framework/distributed/process_group_cncl.hpp
  torch_mlu/csrc/python/ProcessGroupCNCL.cpp
  torch_mlu/csrc/test/CMakeLists.txt
Owners: @kongweiguang, @zhujing, @xushuo, @zhiguangda

[PYTORCH-13079]fix(profiler): Explicitly add a link to filesystem
  third_party/kineto_mlu/libkineto/test/CMakeLists.txt
Owners: @fuwenguang, @niuweizhi

[PYTORCH-12919]feat(cnnl_api):update cnnl api to v2.0
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.cpp
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.h
  torch_mlu/csrc/aten/cnnl/cnnlTensorDesc.cpp
  torch_mlu/csrc/aten/cnnl/cnnlTensorDesc.h
  torch_mlu/csrc/aten/cnnl/cnnlTensorDescriptors.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/activation_inertnal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/addmm_bias_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/arange_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/attention_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/baddbmm_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/bce_with_logits_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/convolution_fliter_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/convolution_forward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/convolution_input_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/convolution_internal_utils.h
  torch_mlu/csrc/aten/operators/cnnl/internal/dcn_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/dcn_forward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/div_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/embedding_bag_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/erfc_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/exp_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/expm1_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/group_norm_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/log1p_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/log_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/logic_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/native_batch_norm_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/native_batch_norm_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/native_layer_norm_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/native_layer_norm_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/nms_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/pow_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/roi_align_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/rrelu_with_noise_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/rsqrt_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/sqrt_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/trigon_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/logic.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-12183](profiler): open comm ut and add pid to base dir
  pytorch_patches/support_mlu_profiler.diff
  test/profiler/test_profiler.py
  test/profiler/test_profiler_with_config.py
  third_party/kineto_mlu/libkineto/CMakeLists.txt
  third_party/kineto_mlu/libkineto/src/CnperfApi.cpp
  torch_mlu/profiler/analysis/event_parser.py
  torch_mlu/profiler/analysis/op_tree.py
Owners: @kongweiguang, @zhujing, @fuwenguang, @niuweizhi

[PYTORCH-13096] fix(test_random): update torch.random to torch.mlu.random
  test/torch/test_random.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13117] feat(test): add test for stream_guard.h
  examples/libtorch_record_stream/record_stream.cpp
  torch_mlu/csrc/test/CMakeLists.txt
  torch_mlu/csrc/test/common/test_streamguard.cpp
Owners: @kongweiguang, @zhujing

[HERA-118]feat: support mtp_613.
  test/torch_ops/test_poolingbp.py
  torch_mlu/csrc/CMakeLists.txt
  torch_mlu/csrc/framework/core/device.cpp
  torch_mlu/csrc/framework/core/device.h
  torch_mlu/csrc/python/Module.cpp
  torch_mlu/utils/cpp_extension.py
Owners: @kongweiguang, @zhujing, @xushuo

fix test gather object
  test/distributed/test_distributed.py
Owners: @kongweiguang, @zhujing

fix(op): Fix gelu backward precision error.
  torch_mlu/csrc/aten/operators/cnnl/activation.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/activation_internal.cpp
Owners: @kongweiguang, @zhujing
