Repository Cambricon/torch_mlu, changes with the owners that CODEOWNERS names for each.
All owners: @kongweiguang, @zhujing, @sifengyang, @xushuo, @fuwenguang, @niuweizhi, @zhiguangda, @daitian, @lipenghui, @mengpenghui, @zhouyusong

CODEOWNERS:

# defalut core reviewers
* @kongweiguang @zhujing

# stream/event
/torch_mlu/csrc/framework/core/MLUEvent* @sifengyang
/torch_mlu/csrc/python/Event* @sifengyang
/torch_mlu/csrc/framework/core/MLUStream* @sifengyang
/torch_mlu/csrc/python/Stream* @sifengyang
/torch_mlu/mlu/streams.py @sifengyang

# device/guard
/torch_mlu/csrc/framework/core/device* @xushuo
/torch_mlu/csrc/framework/core/*guard* @xushuo
/torch_mlu/mlu/__init__.py @xushuo  
/torch_mlu/csrc/framework/core/caching_event* @xushuo
/torch_mlu/csrc/python/Module* @xushuo

# profiler
/torch_mlu/csrc/framework/profiler/ @fuwenguang @niuweizhi 
/torch_mlu/profiler/ @fuwenguang @niuweizhi
/third_party/kineto_mlu/ @fuwenguang @niuweizhi
/torch_mlu/mlu/profiler.py @fuwenguang @niuweizhi

# distributed
/torch_mlu/csrc/framework/distributed/ @zhiguangda
/torch_mlu/csrc/python/ProcessGroupCNCL* @zhiguangda
/torch_mlu/distributed/nn/ @zhiguangda
/torch_mlu/mlu/cncl.py @zhiguangda

# MLUGraph
/torch_mlu/csrc/framework/graphs/ @daitian  
/torch_mlu/csrc/python/Graph* @daitian 
/torch_mlu/mlu/graph.py @daitian 

# allocator
/torch_mlu/csrc/framework/core/*allocator* @lipenghui
/torch_mlu/csrc/framework/core/*memory* @lipenghui
/torch_mlu/mlu/memory.py @lipenghui

# storage/IPC
/torch_mlu/csrc/python/Storage* @mengpenghui
/torch_mlu/mlu/storage.py @mengpenghui
/torch_mlu/csrc/python/MluIPC* @mengpenghui
/torch_mlu/mlu/reductions.py @mengpenghui

# torch.compile
/torch_mlu/_dynamo/ @zhouyusong
/torch_mlu/_inductor/ @zhouyusong

# fsdp
/torch_mlu/distributed/_shard/ @daitian

upsample update
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.cpp
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.h
  torch_mlu/csrc/aten/operators/cnnl/internal/upsample_internal.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13308]fix(profiler): add retry at server startup to prevent port conflicts
  third_party/kineto_mlu/tb_plugin/test/test_tensorboard_end2end.py
Owners: @fuwenguang, @niuweizhi

[PYTORCH-13235]:feat(conv):update conv find algo pt2.4
  torch_mlu/csrc/aten/operators/cnnl/convolution_backward.cpp
  torch_mlu/csrc/aten/operators/cnnl/convolution_forward.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/convolution_fliter_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/convolution_forward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/convolution_input_backward_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/convolution_internal_utils.h
Owners: @kongweiguang, @zhujing

fix update cnnl api bugs
  torch_mlu/csrc/aten/operators/cnnl/internal/attention_internal.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13384]bug: FA support MLU580
  torch_mlu/csrc/aten/operators/cnnl/transformers/sdp_utils.h
Owners: @kongweiguang, @zhujing

fix(dependency): fix scipy dependency
  requirements.txt
Owners: @kongweiguang, @zhujing

[PYTORCH-13434]feat(examples): add mlugraph with multistream demo
  examples/mlugraph/mlugraph_with_multistreams.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13283] Remove additional checks on CNNL dtype restrictions
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_list.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_scalar.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_scalar_list.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_binary_op_scalar_tensor.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_lerp.cpp
  torch_mlu/csrc/aten/operators/cnnl/foreach_unary.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13500]feat(neuware home): Updated neuware home
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[PYTORCH-12136] feat(sleep): add sleep kernel
  test/common_utils.py
  test/mlu/test_event.py
  test/mlu/test_stream.py
  test/multiprocessing/test_multiprocessing.py
  torch_mlu/csrc/CMakeLists.txt
  torch_mlu/csrc/aten/utils/exceptions.h
  torch_mlu/csrc/aten/utils/sleep.cpp
  torch_mlu/csrc/aten/utils/sleep.h
  torch_mlu/csrc/aten/utils/sleep.mlu
  torch_mlu/csrc/python/Module.cpp
  torch_mlu/csrc/python/Module.h
  torch_mlu/mlu/__init__.py
Owners: @kongweiguang, @zhujing, @xushuo

[PYTORCH-12353]feat(profiler): support catching memcpy asyc v3 and malloc async
  third_party/kineto_mlu/libkineto/src/CnpapiActivityApi.cpp
Owners: @fuwenguang, @niuweizhi

[PYTORCH-13486]fix(common_utils): Fixed getGCCVersion bug in anolis os
  test/common_utils.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13389]feat(lazy_load):remove lazy load env set because cntoolkit4.0...
  torch_mlu/csrc/framework/core/device.cpp
  torch_mlu/csrc/framework/hooks/MLUHooks.cpp
  torch_mlu/csrc/framework/hooks/MLUHooks.h
Owners: @xushuo, @kongweiguang, @zhujing

[PYTORCH-13094] feat(test): add c++ api test
  test/run_test.py
  test/utils/test_cxx_apis.py
  torch_mlu/csrc/aten/cnnl/cnnlTensorDesc.h
  torch_mlu/csrc/aten/cnnl/cnnlTensorDesc_internal.cpp
  torch_mlu/csrc/aten/cnnl/cnnlTensorDesc_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/framework/distributed/process_group_cncl.hpp
Owners: @kongweiguang, @zhujing, @zhiguangda

[PYTORCH-12427]feat(sqrt): using high precision sqrt in bangc code.
  test/custom_ops/test_fused_adam_high_precision.py
  test/custom_ops/test_fused_l2_norm_high_precision.py
  test/custom_ops/test_fused_lamb_high_precison.py
  test/optimizer/test_torch_fused_adam_high_precision.py
  test/optimizer/test_torch_fused_adamw.py
  test/optimizer/test_torch_fused_adamw_high_precision.py
  test/optimizer/test_torch_fused_sgd.py
  test/run_test.py
  torch_mlu/csrc/aten/operators/bang/common_utils.h
  torch_mlu/csrc/aten/operators/bang/fused_l2_norm.cpp
  torch_mlu/csrc/aten/operators/bang/fused_lamb.cpp
  torch_mlu/csrc/aten/operators/bang/fused_lamb_amp.cpp
  torch_mlu/csrc/aten/operators/bang/internal/bang_internal.h
  torch_mlu/csrc/aten/operators/bang/internal/fused_l2_norm_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_lamb_amp_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_lamb_internal.mlu
  torch_mlu/csrc/aten/operators/bang/internal/fused_torch_adamw_internal.mlu
  torch_mlu/csrc/aten/operators/bang/torch_fused_adamw_common_utils.h
Owners: @kongweiguang, @zhujing

update triton version
  scripts/release/build.property
  scripts/release/install_triton_wheel.sh
  test/profiler/test_profiler_cnperf.py
  third_party/kineto_mlu/libkineto/src/CnpapiActivityApi.cpp
  torch_mlu/csrc/aten/utils/exceptions.h
  torch_mlu/csrc/aten/utils/sleep.mlu
Owners: @kongweiguang, @zhujing, @fuwenguang, @niuweizhi

[PYTORCH-13337] feat(where): support bool
  test/torch_ops/test_where.py
  torch_mlu/csrc/aten/operators/cnnl/where.cpp
  torch_mlu/csrc/aten/utils/dispatch.h
Owners: @kongweiguang, @zhujing

feat(neuware): update cnnl version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

[PYTORCH-13228] test(foreach_copy): open native ci for foreach_copy
  test/run_test.py
  test/test_foreach_op/test_foreach_copy.py
  torch_mlu/csrc/aten/operators/cnnl/foreach_ops.cpp
Owners: @kongweiguang, @zhujing

fix(cnlog): revert cnlog debug level to info
  torch_mlu/csrc/aten/operators/cnnl/foreach_ops.cpp
Owners: @kongweiguang, @zhujing

feat(ffmpeg): temporarily update the ffmpeg version to solve daily package issue
  scripts/release/build_wheel.sh
Owners: @kongweiguang, @zhujing

feat(neuware): update cntoolkit&cncv version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

update triton version
  scripts/release/build.property
Owners: @kongweiguang, @zhujing

Revert "feat(ffmpeg): temporarily update the ffmpeg version to solve daily package issue"
  scripts/release/build_wheel.sh
Owners: @kongweiguang, @zhujing

[PYTORCH-13469] feat(perf_env_check): Refactor perf_env_check to support VM usage.
  tools/perf_env_check/perf_env_check.sh
Owners: @kongweiguang, @zhujing

[PYTORCH-13653]feat(efficient_attention):avoid allocating device memory for...
  torch_mlu/csrc/aten/operators/cnnl/transformers/attention.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13508]feat(pt2.4.1): upgrade to pt2.4.1 and support ABI=1 compilation
  codegen/gen_mlu_stubs.py
  examples/libtorch_mlu/build.sh
  examples/libtorch_record_stream/build.sh
  examples/libtorch_resnet/build.sh
  pytorch_patches/commit_id
  scripts/release/build.property
  scripts/release/build_wheel.sh
  scripts/release/independent_build.sh
  scripts/version.info
  setup.py
  test/run_test.py
  test/utils/test_check_binary_symbols.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13483] support reduce avg 2.4
  test/distributed/test_distributed.py
  test/distributed/test_distributed_wrapper.py
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
  torch_mlu/csrc/framework/distributed/process_group_cncl.cpp
  torch_mlu/csrc/framework/distributed/process_group_cncl.hpp
Owners: @kongweiguang, @zhujing, @zhiguangda

fix(op): remove repeat_interleave in/out cast, add cast for index_put when accumulate is true
  test/torch_ops/test_index_put.py
  torch_mlu/csrc/aten/operators/cnnl/index_put.cpp
  torch_mlu/csrc/aten/operators/cnnl/put.cpp
  torch_mlu/csrc/aten/operators/cnnl/repeat_interleave.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13686] fix(test): fix cxx test logit error
  test/utils/test_cxx_apis.py
Owners: @kongweiguang, @zhujing

[PYTORCH-12689]feat(Event): pt24 Add blocking flag
  test/mlu/test_event.py
  torch_mlu/csrc/python/Event.cpp
Owners: @kongweiguang, @zhujing, @sifengyang

Fix(package): retry to avoid network failure when building in aarch64
  scripts/release/build_wheel.sh
  scripts/release/independent_build.sh
Owners: @kongweiguang, @zhujing

[PYTORCH-13434]feat(mlugraph): update some test device
  examples/mlugraph/mlugraph_with_multistreams.py
  test/run_test.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13481]docs(sdpa): the stance of SDPA on what to do for fully masked out rows
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
Owners: @kongweiguang, @zhujing

[PYTORCH-13585] feat(cnnl): cnnl 2.0
  scripts/release/build.property
  test/run_test.py
  test/torch/test_fp8_tensor.py
  torch_mlu/csrc/aten/cnnl/cnnlAlgorithms.h
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.cpp
  torch_mlu/csrc/aten/cnnl/cnnlOpDescriptors.h
  torch_mlu/csrc/aten/cnnl/cnnlTensorDesc_internal.cpp
  torch_mlu/csrc/aten/cnnl/cnnlTensorDescriptors.cpp
  torch_mlu/csrc/aten/cnnl/cnnlTensorDescriptors.h
  torch_mlu/csrc/aten/operators/cnnl/addbmm.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/addmm_bias_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/addmm_sparse_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/cast_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/inverse_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/optensor_internal.cpp
  torch_mlu/csrc/aten/utils/types.cpp
  torch_mlu/mlu/__init__.py
Owners: @kongweiguang, @zhujing, @xushuo

[PYTORCH-13015]feat(op): support var_mean.correction
  codegen/mlu_functions.yaml
  test/torch_ops/test_var_mean.py
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
  torch_mlu/csrc/aten/operators/cnnl/cnnlOpParams.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/reduceOps_internal.cpp
  torch_mlu/csrc/aten/operators/cnnl/reduceOps.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-12937]feat(foreach_addcmul): Adapted torch.foreach_addcdiv op
  codegen/mlu_functions.yaml
  test/test_foreach_op/foreach_test_utils.py
  test/test_foreach_op/test_foreach_pointwise.py
  torch_mlu/csrc/aten/operators/cnnl/foreach_pointwise.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/cnnl_internal.h
  torch_mlu/csrc/aten/operators/cnnl/internal/foreach_pointwise_op.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13492]fix(perftool): Fix perftool and refactor test_sort.py
  test/common_utils.py
  test/perftool.md
  test/perftool.py
  test/torch_ops/test_sort.py
Owners: @kongweiguang, @zhujing

[PYTORCH-13244]feat(op): support complexhalf fill and half stft backward
  test/torch_ops/test_fill.py
  test/torch_ops/test_spectral_ops.py
  tools/autogen_torch_api/api_support_lists/torch_api.yaml
  torch_mlu/csrc/aten/operators/cnnl/fill.cpp
  torch_mlu/csrc/aten/operators/cnnl/internal/fill_internal.cpp
Owners: @kongweiguang, @zhujing

[PYTORCH-13492]fix(perftool): Fix perftool and refactor test_sort.py
  test/common_utils.py
  test/perftool.md
  test/perftool.py
  test/torch_ops/test_sort.py
Owners: @kongweiguang, @zhujing
